
// ion-header {
//   color: #fff;
//   height: 60px;
// }

// ion-toolbar {
//   height: 60px;
// }

ion-input {
  font-size: 1.2rem;
}

// ion-title {
// padding-top: 25px;
// }

.content-glass {
  --background: transparent;
  background-image: url('/assets/img/background.jpg');
  background-size: cover;
  background-position: center;
}

.glass-container {
  margin-top: 250px;
  padding: 24px;
  border-radius: 20px;
  backdrop-filter: blur(12px) brightness(0.9);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
}
