<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Conversor 🌡️</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-glass">
  <div class="glass-container">
    <ion-label position="stacked">
      {{ convertToCelsius ? 'Digite em Fahrenheit' : 'Digite em Celsius' }}
    </ion-label>
    <ion-input
      type="number"
      [(ngModel)]="inputValue"
      placeholder="Ex: 30"
    ></ion-input>

    <ion-button expand="block" color="secondary" (click)="converter()">Converter</ion-button>

    <ion-text *ngIf="result !== null">
      Resultado: {{ result | number: '1.1-2' }}
      °{{ convertToCelsius ? 'C' : 'F' }}
    </ion-text>

    <ion-button expand="block" color="light" fill="outline" (click)="toggleConversion()">
      Alternar para °{{ convertToCelsius ? 'F' : 'C' }}
    </ion-button>
  </div>
</ion-content>
